/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.d-none {
  display: none !important;
}
.m-0 {
  margin: 0 !important;
}
.wall {
  width: 100%;
  float: left;
}
.form-group {
  margin-bottom: 15px !important;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
 float: right;
}
.clear {
 clear: both;
}
.bdr-left {
  border-left: 1px solid #bcbcbc;
}
.p-3 {
  padding: 20px;
}
.WSKRFormInside .form-container .form-group label {
  font-size: 15px;
  font-family: system-ui;
  font-weight: 500;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  color: #23282d;
}
.WSKRFormInside .form-container .form-group {
  padding: 5px;
  padding-bottom: 0;
}
.WSKRFormInside .form-container .form-group .form-control {
  box-shadow: none;
  outline: 0;
  height: 36px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
  color: #000;
  border-radius: 3px;
  border: 1px solid #999d;
}
.WSKRFormInside .form-container .form-group .form-control::placeholder {
  font-size: 12px;
  font-family: system-ui;
}
.SubmitBtn button.btn {
  background-color: black;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 10px 30px;
  line-height: 16px;
  color: #fff;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none !important;
  outline: 0 !important;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.SubmitBtn {
  margin-bottom: 10px;
  padding-left: 15px;
  margin-top: 10px;
}
.bg-white {
  background-color: #fff;
  padding: 10px;
}
.p40 {
  padding: 30px;
}
.HeadingDiv h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: sans-serif;
  display: inline-block;
  margin: 0 0px 20px 16px;
  padding: 0 0px 10px;
  border-bottom: 3px solid #000;
}
.SubmitBtn button.btn:hover {
  background-color: #6495ED;
  transition: 0.5s;
}
img.Loderimg, img.LoderSaveimg {
  position: absolute;
  width: 15px;
  right: 10px;
  top: 10px;
}
button.btn.disabled_btn {
  opacity: .5;
  pointer-events: none;
}
.response_msg.w-50 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  padding-left: 15px;
}
.response_msg2.w-50 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  padding-left: 15px;
}
.success_msg{
  color: #28a745;
  visibility: visible !important;
  font-weight: bold;
}
.error_msg{
  color: #bd2130;
  visibility: visible !important;
  font-weight: bold;
}
.empty_fields{
  border: solid 1px #bd2130 !important;
}
.error_note.w-50.float-left {
  padding: 0px 15px;
  color: #bd2130;
  margin-bottom: 15px;
}
.error_note.w-50.float-left p {
  margin: 0px;
}
/*
Plugin Setting Tab
*/
.WSKRFormInside ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.WSKRFormInside ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.WSKRFormInside ul.tabs li.current{
  background: #ededed;
  color: #222;
}
.WSKRFormInside .tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}
.WSKRFormInside .tab-content.current{
  display: inherit;
}
#wskr_page_setting_from label , #tab-3 label {
  display: inline-block;
  width: 20%;
}
#wskr_page_setting_from select.wskr-pages,#tab-3 input {
  width: 30%;
}
/*--Media CSS--*/
@media(max-width: 767px) {
  .WSKRFormInside .form-container .w-50 {
    width: 100%;
  }
  .p40 {
    padding: 15px;
  }
}
@media(max-width: 575px) {
  .HeadingDiv h3 {
    font-size: 20px;
  }
  .WSKRFormInside .form-container .form-group label {
    font-size: 13px;
  }
}